<!DOCTYPE html>
<html>
  <head>
    <title>Connect 4</title>

    <link
      rel="stylesheet"
      href="{{url_for('static', filename='css/game.css') }}"
    />
  </head>

  <body>
    <div id="help-box" class="help-box">
      <button class="btn" onclick="help(event)" name="help" value="help">Help!</button>

    </div>
    <div class="head parent" id="gametags">
      <p class="player-status child" id="status">Player one turn</p>
      <p class="player-status child" id="winner"></p>
    </div>
    <input type="hidden" id="game_id" name="game_id" value="{{game_id}}" />

     
        <input type="hidden" id="game_id" name="game_id" value="{{game_id}}">
        <input type="hidden" id="player_one_name" name="player_one_name" value="{{player_one_name}}" />
        <input type="hidden" id="player_two_name" name="player_two_name" value="{{player_two_name}}" />

        <div  id="win-animation" class="win-animation">
          <div class="firework"></div>
          <div class="firework"></div>
          <div class="firework"></div>
        </div>
         

        <div id="board" class = "board">
            <table>
                <tr>
                    <td onclick = "move(event)" class = "slot" num="0"></td>
                    <td onclick = "move(event)" class = "slot" num="1"></td>
                    <td onclick = "move(event)" class = "slot" num="2"></td>
                    <td onclick = "move(event)" class = "slot" num="3"></td>
                    <td onclick = "move(event)" class = "slot" num="4"></td>
                    <td onclick = "move(event)" class = "slot" num="5"></td>
                    <td onclick = "move(event)" class = "slot" num="6"></td>

                </tr>
                <tr>
                    <td onclick = "move(event)" class = "slot" num="0"></td>
                    <td onclick = "move(event)" class = "slot" num="1"></td>
                    <td onclick = "move(event)" class = "slot" num="2"></td>
                    <td onclick = "move(event)" class = "slot" num="3"></td>
                    <td onclick = "move(event)" class = "slot" num="4"></td>
                    <td onclick = "move(event)" class = "slot" num="5"></td>
                    <td onclick = "move(event)" class = "slot" num="6"></td>

                </tr>
                <tr>
                    <td onclick = "move(event)" class = "slot" num="0"></td>
                    <td onclick = "move(event)" class = "slot" num="1"></td>
                    <td onclick = "move(event)" class = "slot" num="2"></td>
                    <td onclick = "move(event)" class = "slot" num="3"></td>
                    <td onclick = "move(event)" class = "slot" num="4"></td>
                    <td onclick = "move(event)" class = "slot" num="5"></td>
                    <td onclick = "move(event)" class = "slot" num="6"></td>

                </tr>
                <tr>
                    <td onclick = "move(event)" class = "slot" num="0"></td>
                    <td onclick = "move(event)" class = "slot" num="1"></td>
                    <td onclick = "move(event)" class = "slot" num="2"></td>
                    <td onclick = "move(event)" class = "slot" num="3"></td>
                    <td onclick = "move(event)" class = "slot" num="4"></td>
                    <td onclick = "move(event)" class = "slot" num="5"></td>
                    <td onclick = "move(event)" class = "slot" num="6"></td>

                </tr>
                <tr>
                    <td onclick = "move(event)" class = "slot" num="0"></td>
                    <td onclick = "move(event)" class = "slot" num="1"></td>
                    <td onclick = "move(event)" class = "slot" num="2"></td>
                    <td onclick = "move(event)" class = "slot" num="3"></td>
                    <td onclick = "move(event)" class = "slot" num="4"></td>
                    <td onclick = "move(event)" class = "slot" num="5"></td>
                    <td onclick = "move(event)" class = "slot" num="6"></td>

                </tr>
                <tr>
                    <td onclick = "move(event)" class = "slot" num="0"></td>
                    <td onclick = "move(event)" class = "slot" num="1"></td>
                    <td onclick = "move(event)" class = "slot" num="2"></td>
                    <td onclick = "move(event)" class = "slot" num="3"></td>
                    <td onclick = "move(event)" class = "slot" num="4"></td>
                    <td onclick = "move(event)" class = "slot" num="5"></td>
                    <td onclick = "move(event)" class = "slot" num="6"></td>

                </tr>
            </table>
            <div >
             <p id="suggested-header" class="text">
             
             </p> 
              <p class="text" id="suggested">

              </p>
            
              
            </div>
        </div>

        <div class="game-actions" id="game-actions">
          <div>
            <a id="single" href="modes">Play Again</a>
            <a id="multi" href="/">Quit Game</a>
          </div>
      
        </div>
        <div id="play" class="play-box">
          <a id="single" href="modes">Start Over</a>

        </div>
        <div id="quit" class="quit-box">
          <a id="multi" href="/">Quit Game</a>
        </div>

        <script src="{{ url_for('static', filename = 'js/game.js') }}"></script>
    </body>

</html>